/* General container styles */
.stock-list-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Header and button containers */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.homepage-button-container {
    flex: 1;
}

.action-buttons-container {
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    font-size: 12px;
}

/* Shared button styles for all buttons */
.button,
.homepage-button,
.add-product-button,
.lend1-button,
.loan-page-button,
.delete-button,
.update-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.button:hover,
.homepage-button:hover,
.add-product-button:hover,
.lend-button:hover,
.loan-page-button:hover,
.delete-button:hover,
.update-button:hover {
    background-color: #45a049;
}

/* Ensure delete and update buttons are consistent with others */
.delete-button, .update-button {
    padding: 10px 15px;
    display: inline-block;
    min-width: unset;
    font-size: 12px;
}

/* Page title */
.page-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Export buttons */
.acties-button-container {
    display: flex;
    gap: 5px;
    justify-content: center;

}
.export-buttons-container {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.export-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.export-button:hover {
    background-color: #45a049;
}

/* Stock table styling */
.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-table th,
.stock-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.stock-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.stock-table tr:hover {
    background-color: #f9f9f9;
}

/* Accordion styles */
.accordion-header {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #e0e0e0;
}

.accordion-content {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
    margin-top: -1px;
    transition: max-height 0.3s ease;
}

.accordion-content th,
.accordion-content td {
    padding: 10px;
    text-align: center;
}

.accordion-content th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
    .action-buttons-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .stock-table,
    .accordion-content {
        font-size: 14px;
    }
}
